@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);

$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;
$font-family-monospace: "Oxygen Mono", Menlo, monospace;

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import "sass-bootstrap/lib/bootstrap";

$fa-font-path: "/bower_components/font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#content {
}

.check-passed {
  color: $brand-success;
}

.check-failed {
  color: $brand-danger;
}

.nowrap {
  white-space: nowrap;
}
